/* GLOBAL CSS */
/* Andy Bell Reset !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* https://piccalil.li/blog/a-modern-css */

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
	height: 100%;
}
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
}
*,
*::before,
*::after {
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	transition-duration: 0.01ms !important;
	scroll-behavior: auto !important;
}
/*     End Andy Bell's Reset !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

:root {
	/* Modular Scale - Every Layout */
	--ratio: 1.5;
	--s0: 1.2rem; /* 19px */
	--s-1: calc(var(--s0) / var(--ratio)); /* 12.8px */
	--s-2: calc(var(--s-1) / var(--ratio)); /* 8.5px  */
	--s-3: calc(var(--s-2) / var(--ratio)); /* 5.7px */
	--s-4: calc(var(--s-3) / var(--ratio)); /* 3.8px */
	
	
	--s1: calc(var(--s0) * var(--ratio)); /* 28.5px  */
	--s2: calc(var(--s1) * var(--ratio)); /* 42.8px */
	--s3: calc(var(--s2) * var(--ratio)); /* 64.1px */
	--s4: calc(var(--s3) * var(--ratio)); /* 96.2px  */
	

	/* Measure - prefered line lenghth   */
	--measure: 120ch;
} /*  END ROOT */



/* UNIVERSAL SELECTOR */
* {
	/* Colours */
	--clr-accent-100: hsl(333, 100%, 43%); /* #DA0063 */

	--clr-primary-400: hsl(264, 32%, 43%); /* #674B92 */
	--clr-primary-500: hsl(0, 86%, 53%); /* #EE2020 */

	--clr-neutral-100: hsl(0, 0%, 90%); /* #FFFFFF */
	--clr-neutral-900: hsl(0, 0%, 20%); /* #333333 */

	/* Font Family */
	/* featured font family  semi-bold(600) only */
	--ff-text: 'Roboto', sans-serif;
	--ff-featured: "Raleway", serif;
}


/* Elements */

h1 {
	font-family: var(--ff-featured);
	font-size: var(--s2);
  font-weight: 700;
	color: var(--clr-accent-100);
}

h2 {
	font-family: var(--ff-featured);
	font-size: var(--s1);
  font-weight: 500;
	color: var(--clr-primary-400);
}
h3 {
	font-family: var(--ff-featured);
	font-size: var(--s1);
  font-weight: 300;
  color: var(--clr-primary-400);
}
h4 {
	font-family: var(--ff-featured);
	font-size: var(--s0);
  font-weight: 100;
  color: var(--clr-primary-400);
	;
}

p {
	font-family: var(--ff-text);

	font-size: var(--s0);
  
}
/* BODY CSS  */

body {
	/* body font family light(100), regular(400), bold(700) */
	font-family: var(--ff-text);
	font-size: var(--s-3);
	max-width: var(--measure);
	margin: auto;
	/* body layout */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding-left: var(--s0);
	padding-right: var(--s0);
}


/* CENTER LAYOUT CSS*/

.center-l {
	box-sizing: content-box;
	margin-inline: auto;
	text-align: center;
	max-inline-size: var(--measure);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* BOX LAYOUT CSS */
.box-l {
	box-sizing: border-box;
	padding: var(--s1);
	border: var(--s-4) solid transparent;
	--color-light: #fff;
	--color-dark: #000;
	color: var(--color-dark);
	background-color: var(--color-light);
/* testing only */
 /* border-style: solid;
    border-color:green; */
}

.box-l * {
	color: inherit;
}

.box-l.invert {
	color: var(--color-light);
	background-color: var(--color-dark);
}

.box-l.thin-padding {
	padding: var(--s-1);
}

/* STACK LAYOUT CSS */
.stack-l {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.stack-l > * {
	margin-block: 0;
}

.stack-l > * + * {
	margin-block-start: var(--space, 1.5rem);
}

/* SWITCHER LAYOUT CSS */
.switcher-l {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-1);
}

.switcher-l > * {
	flex-grow: 1;
	flex-basis: calc((50rem - 100%) * 999);
}
/* This stuffs up layout????
.switcher > :nth-last-child(n+ 3),
.switcher > :nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
} */


/* PROJECT CSS */


/* HAMBURGER */

.hamburger {
  padding-right: 1.25rem;
  margin-top: 1rem;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  
  width: 2rem;
  height: 0.25rem;
  margin-bottom: 0.2rem;
  background-color: var(--clr-primary-400);
}


/* NAV-LINKS */
.nav-links {
  width: 25%;
  top: .3rem;
  left: 3rem;
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-100);
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: .3rem 0;
  text-decoration: none;
  font-size: var(--s-1);
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--clr-neutral-100);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5rem;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 1rem 1.25rem;
  }

  .hamburger {
    display: none;
  }
 }  /*END MEDIA QUERY*/


  