---
const platform = "github";
const username = "thefoxboxman";
---

<!-- FOOTER COMPONENT -->
<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
</footer>

<style>
  p {
    border-style: solid;
    border-color: red;
    padding: 1rem;
  }
</style>
